//Basic styles for the skeleton element

.skeleton {
  background: #ddd;
  border-radius: 4px;
  margin: 0 1rem;

  &.card {
    height: 31rem;
    width: 100%;
    border-radius: 0.938rem;
  }

  &.image {
    height: 280px;
    width: 100%;
    background-color: pink;
    margin: 0;
    border-radius: 0.938rem 0.938rem 0 0;
  }

  &.title {
    margin-top: 2rem;
    width: 50%;
    height: 2.5rem;
    background-color: blue;
  }

  &.text {
    height: 1rem;
    background-color: green;
    margin-right: 0;
  }

  &.detail {
    width: 80%;
    height: 2rem;
    background-color: orange;
    margin: 0;
    margin-left: 1rem;
  }

  &.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: yellow;
    margin-right: 0;
  }
}
