.title {
  text-align: left;
  width: 100%;
  margin: 20px 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .button {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: calc(1vw + 1rem);
  }

  .popupHeader {
    display: flex;
    margin-bottom: 20px;
    width: 100%;
  }

  .pastDate {
    color: var(--text-color);
    opacity: 0.2;
  }
}
