.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .button {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: calc(1vw + 1rem);
  }

  .popupHeader {
    display: flex;
    margin-bottom: 20px;
    width: 100%;
  }

  .pastDate {
    color: lighten($primary-color, 20%);
  }
}
