@import "@/styles/mixins";

.container {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--items-bg-color);
  color: var(--labels-color);
  box-shadow: var(--box-shadow);
  z-index: 100;
  padding: 1rem;
  border-radius: 25px;
  width: fit-content;
  overflow: visible;

  .content {
    display: flex;
    align-items: center;
    gap: 2rem;
    overflow: visible;
  }

  .navItem {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    background: none;
    border: none;
    font: inherit;
    outline: inherit;
    border-radius: 50%;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.5, 1);
    min-width: 48px;
    min-height: 48px;

    &:hover {
      background-color: var(--background-color);
      @include change-color(var(--primary-color));
      transform: scale(1.4) translateY(-12px);
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
      z-index: 10;
    }
    &:focus {
      @include change-color(var(--primary-color));
      background-color: var(--background-color);
    }
  }

  .icon {
    color: var(--labels-color);
    transition: all 0.3s cubic-bezier(0.4, 0, 0.5, 1);

    .navItem:hover & {
      transform: scale(1.3);
    }
  }
}
