.container {
  width: 100%;
  height: fit-content;
  border-radius: 0.938rem;
  background-color: var(--items-bg-color);
  border-color: var(--border-color);
  box-shadow: var(--box-shadow);
  position: relative;

  &__info {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1.15rem;
    color: var(--text-color);

    &__service {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      h1 {
        font-size: 15px;
      }

      &__rate {
        display: flex;
        gap: 5px;
      }
    }

    &__details {
      display: flex;
      flex-direction: column;
      gap: 12px;
      color: var(--labels-color);

      &__days {
        display: flex;
        gap: 10px;
        align-items: center;
        font-size: 12px;

        &__dot {
          width: 2px;
          height: 2px;
          background-color: var(--text-color);
          border-radius: 50%;
        }

        &__hours {
          font-size: 11px;
        }
      }
    }
  }

  &__divider {
    height: 2px;
    width: 100%;
    border: 0.3px solid var(--forms-bg-color);
    background-color: var(--forms-bg-color);
  }

  &__business {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &__left {
      display: flex;
      gap: 0.75rem;
      color: var(--text-color);

      &__image {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        height: 2.5rem;
        width: 3.3rem;
        background-color: var(--forms-bg-color);
      }

      &__details {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;

        h1 {
          font-size: 15px;
        }

        p {
          font-size: 12px;
          color: var(--labels-color);
        }
      }
    }

    &__follow {
      height: 100%;
      display: flex;
      align-items: center;
    }
  }
}
