/* components/TimeSlotsSelector/timeSlotsSelector.module.scss */
.container {
  font-family: Arial, sans-serif;
  margin-top: 30px;
}

.timeSlotPeriod {
  margin-bottom: 20px;
}

.timeSlotPeriod h5 {
  margin-bottom: 10px;
}

.timeSlotButtons {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  gap: 10px;
}

.timeSlotButton {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #fff;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.timeSlotButton.selected {
  background-color: var(--secondary-color);
  color: #fff; /* Ensure text color is white */
}

.timeSlotButton.inRange {
  background-color: transparent;
  color: var(--secondary-color);
  border: none;
  opacity: 0.75;
}

.timeSlotButton:hover {
  background-color: #dfe6e9;
}
