.business {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &__left {
    display: flex;
    gap: 1rem;

    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      height: 2.5rem;
      width: 2.5rem;
      background-color: #fafafa;
    }

    &__details {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      h1 {
        font-size: 15px;
      }

      p {
        font-size: 12px;
      }
    }
  }

  &__follow {
    color: #7b61ff;
    font-weight: 800;
  }
}
