.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 1rem 1.5rem;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 100;
  background-color: var(--items-bg-color);
  color: var(--labels-color);
  box-shadow: var(--box-shadow);
  width: 100vw;

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .mobileGroup {
      display: flex;
      gap: 1rem;
    }

    .icon {
      cursor: pointer;
      color: var(--labels-color);
    }
  }

  .themeToggle {
    border-radius: 50%;
    height: 24px;
    width: 24px;
    cursor: pointer;
  }

  @include respond-to($breakpoint-lg, min) {
    display: none;
  }

  .hamburger {
    position: relative;
    width: 24px;
    height: 24px;
    cursor: pointer;
    z-index: 2; /* Ensure it's on top */
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .hamburger div {
    background-color: var(--labels-color);
    height: 2px;
    width: 100%;
    transition: all 0.3s ease;
  }

  .hamburger div:nth-child(1) {
    transform-origin: top left;
  }

  .hamburger div:nth-child(3) {
    transform-origin: bottom left;
  }

  .hamburger.open div:nth-child(1) {
    transform: rotate(45deg) translate(4px, 0px);
  }

  .hamburger.open div:nth-child(2) {
    opacity: 0;
  }

  .hamburger.open div:nth-child(3) {
    transform: rotate(-45deg) translate(4px, 0px);
  }
}

// .overlay {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100vw;
//   height: 100vh;
//   background-color: rgba(0, 0, 0, 0.5);
//   z-index: 99;
//   transform: translateY(-100%);
//   transition: transform 0.5s ease;

//   &.open {
//     top: 4rem;
//     height: calc(100vh - 4rem);
//     transform: translateY(0);
//   }
// }
