.container {
  display: flex;
  align-items: flex-start;
  gap: 1rem;

  input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 1rem;
    height: 1rem;
    border: 1px solid var(--labels-color);
    border-radius: 2px;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--items-bg-color);
    flex: none;

    &:checked {
      background-color: var(--secondary-color);
      border-color: var(--secondary-color);

      + .customCheckbox {
        color: var(--items-bg-color);
      }
    }
  }

  .customCheckbox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1rem;
    height: 1rem;
    position: absolute;
    pointer-events: none;
    color: transparent;
  }

  label {
    display: flex;
    max-width: 100%;
    cursor: pointer;
    font-size: $font-size-base;
  }

  .required {
    color: $error-color;
    height: 0.5rem;
  }

  &.error {
    input[type="checkbox"] {
      border-color: $error-color;
    }
    label {
      color: $error-color;
    }
  }

  &.disabled {
    input[type="checkbox"] {
      opacity: 0.5;
      cursor: not-allowed;
    }
    label {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  .error-message {
    color: $error-color;
    font-size: 0.8rem;
  }
}
