@import "@/styles/variables";

.button {
  font-size: 0.75rem;
  border: none;
  background-color: transparent;
  font-weight: 700;
  cursor: pointer;
  text-decoration: underline;

  &--primary {
    color: $primary-color;
  }

  &--secondary {
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  }

  &--disabled {
    opacity: 0.7;
    cursor: unset;
  }
}
