.button {
  border: 0;
  border-radius: 1.563rem;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: max-content;

  &--primary {
    color: var(--items-bg-color);
    background-color: var(--primary-color);
    fill: var(--items-bg-color);

    &:hover {
      // background-color: var(--primary-color-dark);
    }
  }

  &--secondary {
    color: var(--text-color);
    background-color: var(--items-bg-color);
    border: 1px solid var(--text-color);
    fill: var(--text-color);

    &:hover {
      background-color: var(--text-color);
      color: var(--items-bg-color);
      fill: var(--items-bg-color);
    }
  }

  &--disabled {
    opacity: 0.7;
    cursor: unset;
  }

  &--simple {
    background-color: transparent;
    border: none;
    color: var(--labels-color);

    &:hover {
      background-color: var(--secondary-color);
      color: var(--items-bg-color);
    }

    &:focus {
      background-color: var(--secondary-color);
      color: var(--items-bg-color);
      border: none;
    }
  }

  &--micro {
    font-size: 0.75rem;
    padding: 0.5rem 0.75rem;
    border-radius: 50%;
  }

  &--small {
    font-size: 0.75rem;
    padding: 0.65rem 0.875rem;
  }

  &--medium {
    font-size: 0.875rem;
    padding: 0.875rem 1rem;
  }

  &--large {
    font-size: 1rem;
    padding: 1rem 1.75rem;
  }
}
