//CTA colors
$primary-color: #ff4568;
$secondary-color: #7acc34;
$tertiary-color: #3bcfe1;

//backgrounds
$light-bg-color: #fbf7f5;
$white-bg-color: #ffffff;
$dark-bg-color: #121921;
$dark-cinder-bg-color: #262c32;

//fonts
$light-bg-text-color: #282828;
$dark-bg-text-color: #f5f5f5;

//labels and icons
$light-bg-labels-color: #686868;
$dark-bg-labels-color: #cccccc;

//forms
$light-bg-forms-bg-color: #fafafa;
$dark-bg-forms-bg-color: #282828;
