$primary-color: #ff4568;
$secondary-color: #7acc34;
$tertiary-color: #3bcfe1;

$light-bg-color: #fbf7f5;
$white-items-bg-color: #ffffff;
$dark-bg-color: #121212;
$dark-items-bg-color: #1e1e1e;

$light-bg-text-color: #282828;
$dark-bg-text-color: #f5f5f5;

$light-bg-labels-color: #686868;
$dark-bg-labels-color: #cccccc;

$light-bg-forms-bg-color: #fafafa;
$dark-bg-forms-bg-color: #282828;

$light-bg-box-shadow: 2px 3px 8px 2px rgba(40, 40, 40, 0.05);
$dark-bg-box-shadow: 2px 3px 8px 2px rgba(255, 255, 255, 0.05);

$light-bg-border-color: rgba(255, 255, 255, 0.3);
$dark-bg-border-color: rgba(0, 0, 0, 0.3);

$light-bg-linear-gradient: linear-gradient(
  to bottom,
  rgba(0, 0, 0, 0) 0%,
  rgba(0, 0, 0, 0.5) 100%
);
$dark-bg-linear-gradient: linear-gradient(
  to bottom,
  rgba(255, 255, 255, 0) 0%,
  rgba(255, 255, 255, 0.5) 100%
);

$letter-spacing-body: 0.5px;
$letter-spacing-headings: 0px;

$font-size-base: 16px;
$font-size-sm: 0.9em;
$font-size-md: 1em;
$font-size-lg: 1.1em;
$font-size-xl: 1.2em;

$breakpoint-xs: 480px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

@mixin respond-to($breakpoint, $type: max) {
  @if $type == max {
    @media (max-width: $breakpoint) {
      @content;
    }
  } @else if $type == min {
    @media (min-width: $breakpoint) {
      @content;
    }
  }
}
