// styles/globals.scss
@import "@/styles/variables";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  background-color: $light-bg-color;
  color: $light-bg-text-color;
  font-size: $font-size-md; // Default font size

  @include respond-to(sm) {
    font-size: $font-size-sm; // ~14.4px
  }

  @include respond-to(md) {
    font-size: $font-size-md; // 16px
  }

  @include respond-to(lg) {
    font-size: $font-size-lg; // ~17.6px
  }

  @include respond-to(xl) {
    font-size: $font-size-xl; // ~19.2px
  }
}

// Dark theme styles
body.dark-theme {
  background-color: $dark-bg-color;
  color: $dark-bg-text-color;

  a {
    color: $dark-bg-text-color;
  }

  .main {
    background-color: $dark-bg-color;
    color: $dark-bg-text-color; // Ensure text color is also updated
  }

  .styles_main__ZYsCT,
  .serviceCard_container__business__left__image__gc8Qr {
    background-color: $dark-bg-color;
    color: $dark-bg-text-color;
  }

  .navigationBar_main__4Pzlr,
  .menuBar_container__BzJmr,
  .serviceCard_container__YSmRV,
  .serviceCard_container__info__DqHwf,
  .serviceCard_container__business__left__L4MFQ,
  .subNavigationBar_links__Xi6P7 a {
    background-color: $dark-items-bg-color;
    color: $dark-bg-text-color;
  }

  // Add any other elements that need dark theme styles
  // For example, form elements, labels, etc.
  input,
  textarea,
  select,
  .searchBar_container__25CVr {
    background-color: $dark-bg-forms-bg-color;
    color: $dark-bg-text-color;
  }

  .label,
  .icon,
  .navigationBar_icons__e4XNl,
  .navigationBar_label__31lcq {
    color: $dark-bg-labels-color;
  }

  .box-shadow {
    box-shadow: $box-shadow-dark-bg;
  }
}
