@import "@/styles/variables";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: var(--font-size-base);

  @include respond-to($breakpoint-sm) {
    font-size: var(--font-size-sm);
  }

  @include respond-to($breakpoint-md) {
    font-size: var(--font-size-md);
  }

  @include respond-to($breakpoint-lg) {
    font-size: var(--font-size-lg);
  }

  @include respond-to($breakpoint-xl) {
    font-size: var(--font-size-xl);
  }
}

input,
textarea,
select {
  background-color: var(--forms-bg-color);
  color: var(--text-color);
}

.label,
.icon {
  color: var(--labels-color);
}

.box-shadow {
  box-shadow: var(--box-shadow);
}
