// FilterCard.module.scss
@import "@/styles/variables";
@import "@/styles/mixins";

.container {
  display: flex;
  flex-direction: column;
  height: 100%; // Take full height of parent
  overflow: hidden; // Prevent scrolling on the container
}

.scrollableSection {
  flex-grow: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  position: relative;

  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
}

.content {
  padding: 2rem;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.fixedSection {
  border-top: 1px solid var(--border-color);
  padding: 1rem 2rem;
  background-color: var(--background-color);
}

.groupContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0 0.5rem;
  width: 100%;
  box-sizing: border-box;
}

.sliderContainer {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-20px);
  transition:
    max-height 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}

.show {
  max-height: 1000px;
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: $breakpoint-sm) {
  .container {
    margin-bottom: 5rem;
  }
}
