.container {
  width: 100%;
  height: auto;
  position: relative;
  margin-bottom: 30px;

  h3,
  p {
    font-size: $font-size-md;
    margin-top: 20px;
    color: var(--text-color);
  }

  .sectionContainer {
    max-width: 350px;
    margin: auto;
    margin-top: 2rem;
  }
}
