.container {
  width: 100%;
  height: auto;
  position: relative;
  margin-bottom: 30px;

  h3,
  p {
    font-size: $font-size-md;
    margin-top: 20px;
    color: var(--text-color);
  }

  .sectionContainer {
    width: 100%;
    max-width: 430px;
    margin: 2rem auto;
    padding: 0 0.5rem; // Add some padding for better spacing on smaller screens
    box-sizing: border-box;

    // Ensure internal elements are responsive
    .innerItem {
      width: 100%;
      max-width: 100%;
      box-sizing: border-box;
    }
  }

  .groupContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    padding: 0 0.5rem;
    width: 100%; // Ensure it takes full width of the sectionContainer
    box-sizing: border-box;
  }

  @media (max-width: $breakpoint-md) {
    .sectionContainer {
      padding: 0 0.25rem;
    }
  }
}

@media (max-width: $breakpoint-sm) {
  .container {
    margin-bottom: 5rem;
  }

  .sectionContainer {
    max-width: 95vw;
  }
}
