.layoutContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;

  @include respond-to($breakpoint-lg, min) {
    flex-direction: row;
    gap: 1rem;
    align-items: flex-start;
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  padding-top: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  margin-top: 5rem;
  width: 100%;

  @include respond-to($breakpoint-lg, min) {
    margin-top: 0;
    padding: 1.5rem;
    flex: 1;
    margin-left: 10rem;
  }
}
