.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1.5rem;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
  margin-bottom: 4rem;
  margin-top: 10rem;

  @include respond-to($breakpoint-xl, min) {
    margin-bottom: 0;
  }
}
