// MOJA BUBI JE NAJBOLJA <3

.container {
  border-radius: 5rem;
  background: var(--items-bg-color);
  // box-shadow: var(--box-shadow);
  border: 1px solid var(--border-color);
  color: var(--labels-color);
  display: flex;
  align-items: center;
  padding: 0.78rem 1.5rem;
  gap: 0.5rem;
  position: absolute;
  width: 90%;

  @include respond-to($breakpoint-md, min) {
    width: 23rem;
  }

  .popupContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    gap: 20px;

    @include respond-to($breakpoint-sm, max) {
      width: 100%;
    }
  }
}
