// MOJA BUBI JE NAJBOLJA <3

.container {
  border-radius: 5rem;
  background: var(--forms-bg-color);
  box-shadow: var(--box-shadow);
  color: var(--labels-color);
  display: flex;
  align-items: center;
  padding: 0.78rem 1.5rem;
  gap: 0.5rem;
  position: absolute;
  width: 80%;

  .search {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }

  .icon {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }

  .separator {
    width: 0.05rem;
    height: 1.125rem;
    background-color: var(--forms-bg-color);
    opacity: 0.8;
    margin: 0 5px;
  }

  .label {
    font-size: 12px;

    &.underlined {
      text-decoration: underline;
    }
  }

  @include respond-to($breakpoint-md, min) {
    width: 23rem;

    .label {
      font-size: $font-size-md;
    }
  }
}
