.container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  margin: 1rem auto; /* Center the container horizontally */
}

.overlay {
  position: absolute;
  background-color: #7f7fff;
  border-radius: 25px;
  z-index: 0; /* Ensure the overlay is behind the buttons */
}

.timeSlot {
  position: relative;
  z-index: 1; /* Ensure the buttons are above the overlay */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px; /* Ensure a consistent height */
}

.timeSlot button {
  width: 100%;
  height: 100%;
}
