@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 5rem;
  z-index: 1000;
  overflow: hidden;

  &.slideIn {
    background: rgba(0, 0, 0, 0.5);
    .content {
      animation: slideIn 0.5s forwards;
    }
  }

  &.slideOut {
    .content {
      animation: slideOut 0.5s forwards;
    }
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--items-bg-color);
  padding: 1rem;
  border-radius: 0;
  box-shadow: var(--box-shadow);
  width: 33%;
  height: 100vh;
}
