.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 1rem;
  left: 0;
  background-color: $light-bg-color;
  z-index: 100;
  box-shadow: $box-shadow; /* Use box shadow variable */
  a {
    color: $light-bg-labels-color;
  }

  @include respond-to($breakpoint-xl, min) {
    display: none;
  }
}
