.inputContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  padding: 5px 20px;
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}

.leftIcon {
  margin-right: 1rem;
  color: var(--labels-color);
  position: absolute;
  left: 10px;
  pointer-events: none;
}

.input {
  flex: 1;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  font-size: 14px;
  background-color: transparent;
}

.rightIcon {
  margin-left: 1rem;
  color: var(--labels-color);
  position: absolute;
  right: 10px;
  cursor: pointer;

  svg {
    height: 1rem;
    width: 1rem;
  }
}
