.container {
  background-color: var(--items-bg-color);
  z-index: 100;
  top: 5.3rem;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.5rem;
  left: 0;

  .links {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    overflow-x: auto;
    white-space: nowrap;

    a {
      color: var(--labels-color);
      padding: 0 0.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
      gap: 0.2rem;

      &:focus {
        text-decoration: underline;
      }

      @include respond-to(sm) {
        font-size: $font-size-md;
      }

      @include respond-to(md) {
        font-size: $font-size-lg;
      }

      @include respond-to(lg) {
        font-size: $font-size-xl;
      }
    }
  }
}
