.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  row-gap: 2.375rem;
  column-gap: 2.25rem;
  margin-top: 5.3125rem;

  @media (min-width: 1025px) {
    row-gap: 3.8125rem;
  }
}
