.main {
  display: flex;
  flex-direction: column;
  height: 6.124rem;
  margin-bottom: 3rem;
  background-color: $white-bg-color; /* Use light background color variable */
  box-shadow: $box-shadow; /* Use box shadow variable */

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $light-bg-labels-color; /* Use light labels color variable */
    position: relative;
    padding: 1rem 1.5rem;
    position: fixed;
    z-index: 100;
    height: 5.3125rem;
    background-color: inherit;
    top: 0;
    left: 0;

    .screen {
      display: flex;
      width: 100%;

      .icons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 1rem 0;

        .label {
          gap: 0.5rem;
          display: flex;
          align-items: center;
          color: $light-bg-text-color; /* Use light text color variable */
        }
      }

      @include respond-to($breakpoint-xl, max) {
        display: none;
      }
    }
  }
}
