.container {
  margin: inherit;
  width: 100%;

  h3 {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--text-color);
    margin-bottom: 1rem;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
    width: 100%;

    button {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem 0;
      border: none;
      background-color: var(--items-bg-color);
      color: var(--text-color);
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;
      font-size: $font-size-sm;

      &:hover {
        background-color: var(--hover-bg-color);
      }

      &.active {
        background-color: var(--active-bg-color);
        color: var(--active-text-color);
      }
    }
  }
}
