.accordion {
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;

  .accordionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px;
    background-color: var(--items-bg-color);
    border: none;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover,
    &.open {
      @include change-color(var(--primary-color));
      border-bottom: 1px solid var(--border-color);
    }
  }

  .icon {
    font-size: 20px;
  }

  .accordionContent {
    padding: 15px;

    // Ensure child components maintain their styling
    * {
      position: relative;
    }
  }
}
