.container {
  width: 100%;
  background-color: var(--items-bg-color);

  .item {
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    overflow: hidden;
    transition:
      height 0.3s ease,
      margin-bottom 0.3s ease;

    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 0.5rem;
      height: 3rem;
      cursor: pointer;
      transition:
        max-height 0.3s ease-out,
        opacity 0.3s ease-out,
        padding 0.3s ease-out;
    }

    .icon {
      transition:
        max-height 0.3s ease-out,
        opacity 0.3s ease-out,
        padding 0.3s ease-out;
    }

    .iconActive {
      transform: rotate(180deg);
    }

    .content {
      padding: 0 0.5rem 1rem;
      transition:
        max-height 0.3s ease-out,
        opacity 0.3s ease-out,
        padding 0.3s ease-out;
    }
  }
}
